body {
    font-family:'Times New Roman', Times, serif;
}
header, .card {
    width:80%;
    margin-right:auto;
    margin-left:auto;
}
.jumbotron {
    margin-bottom:40px;
}

.jumbotron, .card-header, .btn-search, .btn-clear {
    background-color:navy;
    color:white;
    font-weight:bold;
    border:none;
    box-shadow:1px 2px 1px 2px gray;
}

input, select {
    width:90%;
}

form {
    font-weight:bold;
}

.top-articles {
    margin-top:40px;
    margin-bottom:40px;   
}

.btn-search:hover {
    background-color:rgb(32, 114, 80);
}

.btn-clear {
    margin-left:20px;
}
